body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: white;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px 10px ;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn-primary {
  align-self: center;
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  align-self: center;
  background-color: #28a745;
  color: #fff;
  border: 1px solid #28a745;
}

.btn-secondary:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-danger {
  background-color: transparent;
  color: red;
  border: 2px solid red;
}

.btn-danger:hover {
  background-color: red;
  color: white;
}

.quote {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  min-height: 170px;
}

.quote-text {
  flex: 1 1 auto;
  font-style: italic;
  min-height: 2.3em;
  margin-block-end: 0.7em;
}

.quote-author {
  font-weight: bold;
  margin-block-start: 0.7em;
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  color: darkslategray;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  flex: 1 1 25%;
}

.favorite-card-content {
  flex: 1;
  padding: 0px 3px;
}

.favorite-card-author {
  font-style: italic;
}

.star-icon {
  font-size: 30px;
  color: yellow;
  vertical-align: middle;
  cursor: pointer;
}
